@import "variables"
@import "mixins"

.table
  position: absolute
  left: 0
  right: 0
  top: $header-height + $toolbar-height + $formula-height
  overflow-x: auto
  padding-bottom: 2px

  .row
    display: flex
    flex-direction: row
    min-height: 20px
    height: $row-height

    &_info
      display: flex
      justify-content: center
      align-items: center
      min-width: $info-cell-width
      height: 100%
      border: 1px solid $border-color
      background: #f8f9fa
      border-top: none

    &_data
      display: flex

    .column
      display: flex
      justify-content: center
      align-items: center
      background: #f8f9fa
      min-width: 40px
      width: $cell-width
      height: 100%
      border: 1px solid $border-color
      border-top: 0
      border-left: 0

    .cell
      min-width: 40px
      width: $cell-width
      padding: 5px
      height: 100%
      border: 1px solid #e1e2e3
      border-top: 0
      border-left: 0
      color: #111
      white-space: nowrap
      outline: none

      &.selected
        border: none
        border-radius: 2px
        //outline: 2px solid #3c74ff
        box-shadow: 0px 0px 0px 2px #3c74ff inset
        z-index: 2








